<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Recomendações do YouTube login</title>
        <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
    </head>
    <body>
        <input type="text" id="username">
        <input type="password" id="password">
        <input type="button" value="sign up" id="register">
        <span id="msg"></span>

        <script>
            register_button = document.getElementById('register')
            function show_message(status){
                document.getElementById("msg")
                if(status){
                    return msg.innerHTML = "usuario ja existe"
                }
                return msg.innerHTML = ""
            }


            register_button.addEventListener('click', () => {
                username = document.getElementById('username').value
                password = document.getElementById('password').value
                fetch('http://192.168.5.102:5000/register', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    credentials: 'include',
                    body: JSON.stringify({
                        usuario: username,
                        senha: password
                    })
                    }).then(response => response.json()).then( (data) => {
                        if(data.status == false){
                            show_message(true)
                        }
                        else{
                            show_message(false)
                            window.location.href = "../"
                        }
                    })
                })
        </script>
    </body>
</html>